/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}

.hero {
  background-color: #343a40;
  color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.hero img {
  border-radius: 50%;
}

section {
  padding: 40px 0;
}

.resume-section,
.math-section {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  padding-bottom: 30%;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* Navbar styles */
.navbar {
  background-color: #343a40;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero {
    padding: 60px 0;
  }

  section {
    padding: 20px 0;
  }

  .resume-section,
  .math-section {
    padding: 20px;
  }
}
