/* Home Section */
.hero {
  padding: 40px 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}

.hero img {
  border: 3px solid #fff;
  border-radius: 50%;
}

.bio {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 95%;
  margin: 20px;
  text-align: center;
  font-size: large;
}

.caption{
  margin: 20px;
  text-align: center;
}

.image img {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 715px;
}

/* Resume Section */

.resume {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-bottom: 100px;
}

.resume h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.resume p {
  margin-bottom: 8px;
}

.resume ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.resume li {
  list-style-type: square;
  margin-bottom: 4px;
}

.resume strong {
  color: #304529;
}

.resume em {
  color: #6c757d;
}

.resume div {
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
}

/* Portfolio Section */
.portfolio-section {
  background-color: #f8f9fa;
  max-width: 800px;
  margin: auto;
  padding-bottom: 100px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 20 px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  gap: 10px; /* Adjust as needed for spacing between images */
  width: 24%;
  height: auto;
}

.portfolio-item img{
  width: 100%;
  height: auto;
}

/* Contact Section */

.contact-section {
  padding-top: 50px;
  max-width: 400px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color:black;
}

.contact-wrapper {
  padding-top: 50px; /* Adjust as needed for the space between the contact form and the navigation bar */
}

.form-group {
  margin-bottom: 1rem;
}

.textbox input,
.textbox textarea {
    width: 100%;
}

.contact-form {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h4 {
  margin-top: 0;
  display: block;
  text-align: center;
}

.contact-info p {
  text-align: center;
  margin-bottom: 8px;
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}
