/* Home Section */
.home {
  margin-bottom: 50px;
}

.hero {
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.hero img {
  border: 3px solid #fff;
  border-radius: 50%;
  max-width: 100%;
}

.bio {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-size: medium;
  max-width: 90%;
}

.caption {
  margin: 10px;
}

.image img {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

/* Resume Section */
.resume {
  max-width: 60%;
  margin: auto;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-bottom: 50px;
}

.resume h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume p {
  margin-bottom: 4px;
}

.resume ul {
  padding-left: 10px;
  margin-bottom: 5px;
}

.resume li {
  list-style-type: square;
  margin-bottom: 2px;
}

.resume strong {
  color: #304529;
}

.resume em {
  color: #6c757d;
}

.resume div {
  margin-bottom: 10px;
}

/* Portfolio Section */
.portfolio-section {
  background-color: #f8f9fa;
  max-width: 60%;
  margin: auto;
  padding-bottom: 50px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  gap: 10px; 
}

.img-fluid {
  max-width: 24%; 
  height: auto;
}


.caption{
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

/* Contact Section */
.contact-section {
  padding-top: 20px;
  max-width: 60%;
  margin: auto;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.contact-wrapper {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 0.5rem;
}

.textbox input,
.textbox textarea {
  width: calc(100% - 20px);
}

.contact-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h4 {
  margin-top: 0;
  text-align: center;
}

.contact-info p {
  text-align: center;
  margin-bottom: 4px;
}

body {
  min-height: 400px;
  margin-bottom: 50px;
  clear: both;
}

/* Mobile Menu Section */

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #304529;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.navigation.active {
  width: 200px; /* Adjust the width as needed */
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: #808080;
  font-size: 1.5rem;
  padding: 15px 0;
  display: block;
  transition: 0.3s;
}

.navigation a:hover {
  color: #fff;
}
